:root {
  --Highlight:#FF57B2;
  --Background: #1A1D23;
  --Heading: #F8F8F8;
  --Info: #BBBBBB;
  --Body: #D7D7D7;
  --Border: #282C34;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media(max-width:1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media(max-width:720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body {
  background: var(--Background);
  color: var(--Body);

}

body, input, select, textarea, button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit; // assume a cor da fonte do elemento pai
  text-decoration: none;
}
